<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' classNames='navbar-brand'}}
        Home
      {{/link-to}}
    </div>
    <ul class="nav navbar-nav navbar-left">
      {{#link-to 'protected' tagName='li'}}
        <a href="#">Protected Page</a>
      {{/link-to}}
      {{#if isAuthenticated}}
        {{#link-to 'user-profile' tagName='li'}}
          <a href="#">Profile</a>
        {{/link-to}}
      {{/if}}
    </ul>
    {{! display logout button when the session is authenticated, login button otherwise }}
    {{#if isAuthenticated}}
      <a {{action 'logout'}} class="btn btn-danger navbar-btn pull-right">Logout</a>
      <div class="checkbox navbar-text pull-right">
  	  	<label><input id="rememberMe" type="checkbox" value="" checked={{rememberMe}} {{action "toggleRemember" on="change"}}>Remember Me&nbsp;&nbsp;&nbsp;&nbsp;</label>
	  </div>
      {{#if account}}
        <p class="navbar-text pull-right">Signed in as {{account.name}}</p>
      {{/if}}
    {{else}}
      <a {{action 'login'}} class="btn btn-success navbar-btn pull-right">Login</a>
    {{/if}}
  </div>
</nav>
